name: firecrawl-prod

services:
  playwright-service:
    image: ghcr.io/firecrawl/playwright-service:latest
    environment:
      PORT: 3000
      PROXY_SERVER: ${PROXY_SERVER}
      PROXY_USERNAME: ${PROXY_USERNAME}
      PROXY_PASSWORD: ${PROXY_PASSWORD}
      BLOCK_MEDIA: ${BLOCK_MEDIA}
    networks:
      - app-network

  firecrawl-api:
    image: ghcr.io/firecrawl/firecrawl
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      REDIS_URL: ${REDIS_URL:-redis://firecrawl-redis:6379}
      REDIS_RATE_LIMIT_URL: ${REDIS_URL:-redis://firecrawl-redis:6379}
      PLAYWRIGHT_MICROSERVICE_URL: ${PLAYWRIGHT_MICROSERVICE_URL:-http://playwright-service:3000/scrape}
      NUQ_DATABASE_URL: postgres://postgres:postgres@nuq-postgres:5432/postgres
      USE_DB_AUTHENTICATION: ${USE_DB_AUTHENTICATION}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      MODEL_NAME: ${MODEL_NAME}
      MODEL_EMBEDDING_NAME: ${MODEL_EMBEDDING_NAME}
      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL}
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      BULL_AUTH_KEY: ${BULL_AUTH_KEY}
      TEST_API_KEY: ${TEST_API_KEY}
      POSTHOG_API_KEY: ${POSTHOG_API_KEY}
      POSTHOG_HOST: ${POSTHOG_HOST}
      SUPABASE_ANON_TOKEN: ${SUPABASE_ANON_TOKEN}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_SERVICE_TOKEN: ${SUPABASE_SERVICE_TOKEN}
      SELF_HOSTED_WEBHOOK_URL: ${SELF_HOSTED_WEBHOOK_URL}
      SERPER_API_KEY: ${SERPER_API_KEY}
      SEARCHAPI_API_KEY: ${SEARCHAPI_API_KEY}
      LOGGING_LEVEL: ${LOGGING_LEVEL}
      PROXY_SERVER: ${PROXY_SERVER}
      PROXY_USERNAME: ${PROXY_USERNAME}
      PROXY_PASSWORD: ${PROXY_PASSWORD}
      SEARXNG_ENDPOINT: ${SEARXNG_ENDPOINT}
      SEARXNG_ENGINES: ${SEARXNG_ENGINES}
      SEARXNG_CATEGORIES: ${SEARXNG_CATEGORIES}
      HOST: "0.0.0.0"
      PORT: ${INTERNAL_PORT:-3002}
      WORKER_PORT: ${WORKER_PORT:-3005}
      ENV: production
    depends_on:
      firecrawl-redis:
        condition: service_started
      playwright-service:
        condition: service_started
      nuq-postgres:
        condition: service_healthy
    command: node dist/src/harness.js --start-docker

  firecrawl-redis:
    image: redis:alpine
    networks:
      - app-network
    command: redis-server --bind 0.0.0.0

  nuq-postgres:
    image: firecrawl-nuq-postgres:latest # This will be built by the deploy.yml
    pull_policy: never
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    networks:
      - app-network
    volumes:
      - nuq_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  nuq_pg_data:
